$--color-white: #fafafa !default;
$--color-black: #000000 !default;
$--color-grey-light: #e5eaef !default;
$--color-grey-dark: #dee2e6 !default;
$--color-grey-hover: #d5d9de !default;

$--color-primary: #1c75db !default;
$--color-primary-light: #2993de !default;
$--color-primary-dark: #0c609c !default;

$--color-text-primary: #48484a !default;
$--color-text-secondary: #68686b !default;
$--color-text-hover: #808080 !default;
