@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import '@/styles/colors.scss';

* {
  text-decoration: none;
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  overflow: hidden;
  box-shadow: none;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}

input {
  color: $--color-text-primary;
  background: none;
  width: 100%
}

button {
  color: $--color-text-secondary;
  background: none;
  margin-left: 14px;
  font-size: 18px;
  cursor: pointer;
  &:hover {
    color: $--color-text-primary;
  }
}
