@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import '@/styles/colors.scss';

* {
  text-decoration: none;
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  overflow: hidden;
  box-sizing: border-box;
}

html {
  font-family: 'Muli', sans-serif;
}

p {
  color: $--color-text-primary;
  font-size: 22px;
  word-wrap: break-word;
}

h1 {
  font-size: 24px;
  color: $--color-white;
}

input {
  background: none;
  font-size: 18px;
  width: 100%
}

button {
  cursor: pointer;
  font-size: 20px;
  margin-left: 20px;
}
